<p class="pb-3 font-bold text-2xl">Sales Funnel</p>
<table class="min-w-full divide-y divide-gray-200 border-4 border-r">
  <thead class="bg-gray-50">
    <tr>
      <th class="px-6 py-3 text-center text-2xl font-bold ">All sessions</th>
      <th class="pt-1 text-center text-2xl font-bold ">Product Views</th>
      <th class="pt-1 text-center text-2xl font-bold ">Add to cart</th>
      <th class="px-6 py-3 text-center text-2xl font-bold ">Checkout</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr>
      <td class="px-6 py-4 text-center text-2xl font-bold">289.12K 
        <div class="bg-green-500 rounded-lg inline-block px-2 ml-2 font-semibold mt-3" style="font-size: small;">
          &#8599;8.32%
        </div>
      </td>
      <td class="px-6 py-4 text-center text-2xl font-bold">184.64K
        <div class="bg-green-500 rounded-lg inline-block px-2 ml-2 font-semibold mt-3" style="font-size: small;">
          &#8599;6.52%
        </div>
      </td>
      <td class="px-6 py-4 text-center text-2xl font-bold">156.3K
        <div class="bg-green-500 rounded-lg inline-block px-2 ml-2 font-semibold mt-3" style="font-size: small;">
          &#8599;3.52%
        </div>
      </td>
      <td class="px-6 py-4 text-center text-2xl font-bold">65.8K
        <div class="bg-green-500 rounded-lg inline-block px-2 ml-2 font-semibold mt-3" style="font-size: small;">
          &#8599;6.32%
        </div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4 text-center font-semibold">No shopping activity</td>
      <td class="px-6 py-4 text-center font-semibold">No cart addition</td>
      <td class="px-6 py-4 text-center font-semibold">Cart abandon</td>
      <td class="px-6 py-4 text-center font-semibold">Checkout abandon</td>
    </tr>
  </tbody>
</table>
