<p class="pb-3 font-bold text-2xl">Sales Funnel</p>
<div class="grid grid-cols-4 gap-4 border-x-4 border-y-4 border-t-4">
  <div class=" pt-4 text-center font-semibold text-2xl ">All sessions</div>
  <div class=" pt-4 text-center font-semibold text-2xl">Product Views</div>
  <div class="pt-4 text-center font-semibold text-2xl">Add to cart</div>
  <div class="p-4 text-center font-semibold text-2xl">Checkout</div>
  <div class="pt-0  text-center text-2xl font-bold"  >289.12K <div class="bg-green-500 rounded-lg ml-5  mr-8 font-semibold" style="font-size: small;">8.32% &#8599;</div></div>
  <div class="pt-0  text-center text-2xl font-bold">184.64K<div class="bg-green-500 rounded-lg ml-5  mr-8 font-semibold" style="font-size: small;">6.52% &#8599;</div></div>
  <div class="pt-0 text-center text-2xl font-bold">156.3K<div class="bg-green-500 rounded-lg ml-5  mr-8 font-semibold" style="font-size: small;">3.52% &#8599;</div></div>
  <div class="pt-0  text-center text-2xl font-bold">65.8K<div class="bg-green-500 rounded-lg ml-5  mr-8 font-semibold" style="font-size: small;">6.32% &#8599;</div></div>
  <div class= "pt-4 text-center">No shopping activity</div>
  <div class=" pt-4 text-center">No cart addition</div>
  <div class=" pt-4 text-center">Cart abandon</div>
  <div class=" pt-4 text-center">Checkout abandon</div>
</div>
