<div class="bg-gradient-to-r from-green-900 to-green-600 rounded-lg p-6 flex items-center justify-between h-80">
  <div>
    <h4 class="text-4xl text-white font-semibold">Here's happening in your sales last weeks 👋</h4>
    <p class="mt-2 text-4xl text-white font-bold pt-4">$8,567.00 <span class="text-xl font-normal">Sales profit</span></p>
    <p class="mt-2 text-white">
      <span class="font-semibold text-green-500 text-2xl">2,478 products are selling</span> and it's increasing from last weeks.
    </p>
    <button class="bg-white rounded-lg mt-10 p-1 w-50 hover:underline">View report</button>
  </div>

  <div class="h-full">
    <img class="w-full h-full object-cover rounded-lg" src="/assets/main.jpg">
  </div>
</div>
