
<div class="pt-4 bg-gradient-to-r from-green-900 to-green-600 rounded-lg p-6 flex  items-center justify-between h-60">
  
  <div>
    <h3 class="text-3xl text-white font-semibold">Here's happening in your sales last weeks 👋</h3>
    <p class="mt-2 text-4xl text-white font-bold">$8,567.00 <span class="text-lg font-normal">Sales profit</span></p>
    <p class="mt-2 text-white">
      <span class="font-semibold text-green-500">2,478 products are selling</span>  and it's increasing from last weeks.
    </p>
  </div>

  <div style="padding-top: 100px;">
    <button class="bg-white rounded-lg p-1">View report</button>
  </div>
  
  
</div>
